@media only screen and (max-width: 500px) {
  canvas {
    width: 200px !important;
    height: 250px !important;
    z-index: -999 !important;
  }

  .canv {
    display: flex;
    margin: 0 auto;
    width: 200px !important;
    height: 200px !important;
    z-index: -999 !important;
  }

  * p {
    font-size: 17px !important;
  }
}

html {
  scroll-behavior: smooth;
  
}
